*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;

    color: var(--black);
    line-height: 1.5;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}
