@import 'react-dd-menu/dist/react-dd-menu.css';

.link[type="button"] {
    appearance: none;
    cursor: pointer;
}

.Container {
    max-width: 64rem;
    margin-right: auto;
    margin-left: auto;

    padding-right: 1rem;
    padding-left: 1rem;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.Main {
    flex: 1 1 auto;
}

/**
 * Forms and Form Components
 */
.FormLabel {
    display: block;
    padding: .5em 0 ;
}
.FormControl {
    display: block;
    padding: .5em .75em;
    width: 100%;
    border: 1px solid var(--moon-gray);
    border-radius: 3px;

    line-height: 1.5;
    resize: none;
    transition: all 150ms;
}
.FormControl:focus,
.FormControl.is-focused {
    outline: none;
    border-color: var(--black);
    /*outline: 1px dotted currentColor;*/
}

/**
 * Buttons
 */
.Button {
    display: inline-block;
    padding: .5em 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: var(--near-white);

    line-height: 1.5;
    text-decoration: none;
    color: var(--black);
    cursor: pointer;

    transition: all 150ms;
}
.Button:hover,
.Button:focus {
    /*outline: 1px dotted currentColor;*/
    background: #EEEEEE;
}
.Button-icon {
    margin-top: -3px;
}

.Button--primary {
    border-color: var(--primary);
    background: var(--primary);
    color: #fff;
}
.Button--primary:hover,
.Button--primary:focus {
    background: #49494a;
}


/**
 * Analysis
 */

.AnalysisResult {
    box-sizing: content-box;
    width: auto;
    height: 4.5em;
    border-color: transparent;
    overflow-y: auto;
}
.AnalysisResult-inner {
}


/**
 * Word
 */
.Word {
    appearance: none;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    transition: all 150ms;
}
.Word--highlighted {
    background: #FBF1A9;
}
.Word:hover,
.Word.is-selected {
    background: #FF725C;
}
.Word:focus {
    outline: 1px dotted;
    /*outline: none;*/
}

/**
 * Tooltip
 */
.Tooltip {
    opacity: 1;
}

/**
 * TagPicker
 */
.TagPicker {
    padding-bottom: 0;
}
.TagPicker-input {
    margin-bottom: .5em;
}
.TagPicker-input input {
    padding: .25em .5em;
    border: none;
    line-height: 1.5;
    outline: none;
}

/**
 * Tag
 */
.Tag {
    display: inline-block;
    padding: .25em .5em;
    margin-right: .5em;
    margin-bottom: .5em;
    background: var(--light-gray);
    border-radius: 3px;
    color: var(--black);

    transition: all 150ms;
}
.Tag:hover {
    background: var(--moon-gray);
}
.Tag-remove {
    position: relative;
    top: -.1em;
    margin-left: .25em;
    cursor: pointer;
}

/**
 * React autosuggest
 */
.react-autosuggest__container {
    display: inline;
}
.react-autosuggest__suggestions-container {
    margin: 0 -.75em;
}
.react-autosuggest__suggestions-list {
    max-height: 7.5em;
    border-top: 1px solid var(--moon-gray);
    padding: .5em 0;
    margin: 0;
    list-style: none;
    overflow-y: auto;
}

.react-autosuggest__suggestion {
    padding: 0 .75em;
    cursor: pointer;
    transition: all 150ms;
}
.react-autosuggest__suggestion--highlighted {
    background: var(--light-gray);
}

/**
 * Dropdown Menu
 */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
/*.dd-menu .dd-menu-items ul,
.dd-menu .dd-menu-items ol {
    animation: 150ms linear 0s fadeInDown;
}*/
